.nav {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  border-bottom: 2px solid #72cbf6;
  padding: 10px 25px 5px;
  z-index: 10;
}

.nav-logo {
  max-width: 75px;
  margin: 0;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  max-width: 1060px;
  width: 80%;
}

.nav-text {
  margin-left: 7%;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.nav-text:hover {
  color: #72cbf6;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .nav-links {
    display: none;
  }
}
